trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: JavaToolInstaller@0
  inputs:
    versionSpec: '21'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

- task: Maven@3
  displayName: 'Executar JUnit Tests'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'

- task: PublishTestResults@2
  displayName: 'Publicar resultados JUnit'
  inputs:
    testResultsFiles: '**/surefire-reports/*.xml'
    testRunTitle: 'JUnit Results'
    failTaskOnFailedTests: true

- task: Docker@2
  inputs:
    containerRegistry: 'acrrm554773'
    repository: 'acr'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest
